@charset "utf-8";

.hearer{
	width: 100%;
	height: 100px;
}
.metabar{
	width: 100%;
	height: 40px;
	background-color: black;
}
.meta{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
	background-color: black;
}
.location{
	float: right;
	display: flex;
	align-items: center;
	height: 40px;
	color: white;
	font-size: 15px;
}
.vertical_line{
	border-left: 1px solid white;
	height: 30px;
}
.info{
	width: 370px;
	line-height: 40px;
	color: white;
	font-size: 18px;
	margin: 0 auto;
}
.info a{color: white;}
.navbar{
	width: 100%;
	height: 60px;
}
.nav{
	width: 1200px;
	height: 60px;
	display: flex;
	align-items: center;
}
img{
	float: left;
	display: inline;
}
.menu{
	width: 500px;
	height: 60px;
}
ul li{
	display: inline;
	list-style: none;
	line-height: 60px;
	margin: 8px;
	font-size: 15px;
}
.nav a{
	color: black;
	text-decoration: none;
}
.search{
	width: 350px;
	height: 60px;
	display: flex;
	align-items: center;
}
form{
	width: 340px;
	height: 40px;
	border: 1px solid #eaeaea;
	display: flex;
	align-items: center;
}
.ss{
	margin-left: 10px;
	border:0px;
	width: 340px;
}
.search button{
	border: 0;
}
.login{
	width: 120px;
	height: 50px;
	display: flex;
	align-items: center;
	line-height: 60px;
	font-size: 14px;
}
.shop{
	width: 140px;
	height: 50px;
	margin-left: 20px;
	font-size:10px;
	line-height: 60px;
}
.nav a:hover{
	color: red;
}
.re{
	display: inline;
}
.sub{
	width: 100%;
	min-width: 1200px;
	height: 100px;
	background-color: white;
	left: 0;
	position: absolute;
	display:none;
}
ul li{
	padding-bottom: 100px;
}
ul li:hover .sub{
	display: block;
}
.daohang{
	margin: 0 auto;
	width: 400px;
	height: 100px;
	display: flex;
	align-items: center;
}
.nan{
	width: 200px;
	height: 60px;
}
.nv{
	width: 200px;
	height: 60px;
	border-left: 1px solid grey;
}
.daohang p{
	display: none;
}
.nan a:hover+p{
	display:inline;
	color: red;
}
.nv a:hover+p{
	display:inline;
	color: red;
}



.main{
	width: 100%;
	min-width: 1200px;
	height: 340px;
}
.main img{
	width: 100%;
}
.table{
	margin-top: 3px;
	width: 100%;
	min-width: 1200px;
	height: 100px;
	background-color: #eaeaea;
	margin-bottom: 10px;
}
table{
	margin: 0 auto;
}
.table tr td{
	width: 200px;
	height: 40px;
	text-align: center;
}
.table tr:nth-child(1) td a{
	color:grey;
}
.table a{
	color: black;
	text-decoration: none;
}
.jay{
	width: 1200px;
	height: 350px;
	text-align: center;
}
.jay img{
	margin-left: 80px;
	height: 350px;
}
.ad{
	width: 100%;
	min-width: 1200px;
	height: 500px;
	text-align: center;
}
.right{
	float: right;
	width: 43%;
	min-width: 500px;
	margin: 0px 80px 0px 10px;
	margin-right: 6%;
}
.left{
	width:43%;
	min-width: 500px;
	margin: 10px 10px 0px 80px;
	margin-left: 6%;
}
.ad img{
	width: 100%;
	margin-bottom: 50px;
}
.ad a{
	text-decoration: none;
	color: red;
}
.end{
	margin: 0 auto;
	width: 100%;
	height: 383px;
}
.end img{
	margin-top: 50px;
	width: 100%;
	min-width: 1200px;
}
.ad a:hover{
	color: purple;
}




.footer{
	position: absolute;
	margin-bottom: 0px;
	width: 100%;
	background-color: rgb(35,35,35);
	color: white;
}
.line1{
	margin: 0 auto;
	width: 1200px;
	height: 70px;
}
.find{
	margin: 0 auto;
	width: 500px;
	height: 50px;
}
.find a{
	text-decoration: none;
	color: white;
}
.dingyue{
	float: right;
	display: flex;
	align-items: center;
}
.chazhao{
	line-height: 70px;
}
hr{
	background-color: grey;
	border:none;
	height: 1px;
}
.line2{
	margin: 0 auto;
	width: 1200px;
	height: 270px;
}
.row{
	width: 1200px;
	height: 270px;
	margin: 20px 10px;
	border:none;
	display: table;
}
.col{
	float: left;
	margin-left: 50px;
	width: 250px;
	height: 270px;
}
.col a{
	text-decoration: none;
	color: white;
}
.col ul li{
	line-height: 20px;
	font-size: 12px;
}
.col img{
	width: 37px;
	height: 37px;
}
.line3{
	margin: 0 auto;
	width: 1200px;
	height: 100px;
}
.foot{
	margin: 0 auto;
	width: 500px;
	height: 100px;
	color: grey;
	font-size: 12px;
}
.img{
	float: right;
	padding-top: 30px;
	width: 240px;
	height: 15px;
}
.copy{
	padding-top: 30px;
	width: 240px;
	height: 15px;
}
.foot a{
	text-decoration: none;
	color: white;
}
.com{
	line-height: 16px;
}
.com p{
	float: left;
	font-size: 16px;
}
.footer a:hover{
	color: red;
}




.kefu{
	width: 40px;
	height: 200px;
	position: fixed;
	right: 0;
	top: 60%;
	display: block;
}
.zhiding{
	width: 45px;
	height: 45px;
	position: fixed;
	right: 45px;
	bottom: 0;
	display: block;
}
.zhiding img:hover{
	border: 2px solid grey;
}

@media(max-width: 800px) {
    .kefu{
       	display: none;
    }
    .zhiding{
    	display: none;
    }
}